log_facility=daemon
debug=0
pid_file=/usr/local/nagios/var/nrpe.pid
server_port={{ tcp_port }}
nrpe_user=nagios
nrpe_group=nagios
allowed_hosts=127.0.0.1,{{ NAGIOS_SERVER_IP }}
dont_blame_nrpe=1
allow_bash_command_substitution=0
command_timeout=60
connection_timeout=300
disable_syslog=0
command[check_users]=/usr/local/nagios/libexec/check_users -w 5 -c 10
command[check_load]=/usr/local/nagios/libexec/check_load -r -w 4,3,2 -c 5,4,3
command[check_disk]=/usr/local/nagios/libexec/check_disk -w 20% -c 10% -p /dev/sda3
command[check_zombie_procs]=/usr/local/nagios/libexec/check_procs -w 5 -c 10 -s Z
command[check_total_procs]=/usr/local/nagios/libexec/check_procs -w 150 -c 200